{% extends 'mainapp/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">GeekShop</h1>
            <div class="list-group">
                <a href="{% url 'mainapp:products' %}" class="list-group-item">Все товары</a>
                {% for category in categories %}
                    <a href="{% url 'mainapp:category_id' category.id %}" class="list-group-item">{{category.name}}</a>
                {% endfor %}
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row">

<div class="card" style="width: 20rem; height: 10rem;">
  <img class="card-img-top" src="/media/{{products.image}}" style="width: 20rem; height: 20rem;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{products.name}}</h5>
    <p class="card-text">{{products.description}}</p>
    <p class="card-text" style="color: red">Стоимость - {{products.price}}</p>
    <a href="{% url 'basketapp:basket_add' products.id %}" class="btn btn-primary">Добавить в корзину</a>
    <p class="card-text">Осталось на складе: {{products.quantity}}</p>
  </div>
</div>
              </div>
          </div>
      </div>
  </div>



{% endblock %}